body {
  margin: 0 !important;
}

.app {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  flex: 1;
  background-color: #12141E;
  color: white;
  padding: 5px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  left: 88px;
  overflow-y: auto;
  width : 97%;
}

.expanded-main-content {
  left: 320px;
}

                                                  /* -- App Finished Here -- */

.icon-container {
  position: fixed;
  background: #1A1D1F;
  box-sizing: border-box;
  height: 100vh;
  width: 88px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.full-icon-container {
  width: 320px;
}

.icon-container-head {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px white d solid;
  padding-bottom: 20px;
}

.icon-container-mid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.menu-icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.menu-icon:hover,
.menu-icon.active {

  background-color: rgba(151, 71, 255, 0.26);
  cursor: pointer;
}

.menu-icon img {
  height: 24px;
  width: 24px;
}
.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 50px;
}

.sidebar-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.full-width-icon {
  width: 240px;
  padding: 12px 16px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.full-width-icon p {
  width: 75%;
  font-size: 1.2rem;
  color: #fff;
}

                                                    /* -- Slider Finished Here --*/   


.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 60px;
  background-color: #12141E;
  border-bottom: 1px #404c87cb solid;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

                                                    /* -- Header Finished Here -- */   
                                                    
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 40px;
}

.stats {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 36px;
}

    .stat-card {
      background-color: #171A26;
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .title-stat-card {
      font-size: 1em;
      font-weight: 300;
    }

    .value-stat-card {
      font-size: 3.5em;
      font-weight: 550;
      margin-bottom: 10px;
    }

    .green {
      color: green;
    }

    .percentage {
      background-color: #9747FF;
      border-radius: 10px;
      height: 10px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .card-footer {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
    }

    .percentage-total {
      background-color: #282D3E;
      border-radius: 10px;
      height: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 2px;
    }

    
    .arrow {
      width: 30px;
      height: 30px;
      border-radius: 80px;
      background: rgba(44, 46, 53, 1);
      display: flex;
      justify-content: center;
      align-items: center;
    }

                            /* -- Stats Finished Here -- */   

.test-table table {
  width: 100%;
  background-color: #12141E;
  color: white;
  border-collapse: collapse;
  border-radius: 20px;
}

.test-table th,
.test-table td {
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  border-bottom: 1px #404c87cb solid;
  height: 50px;
  width: 400px;
  color: gray;
  font-weight: 100;
}

.test-table td {
  border-radius: 20px;
  padding: 10px;
  text-align: left;
  height: 50px;
  width: 400px;
  color: white;
  font-weight: 100;
}

.table-container {
  background-color: #1D1933;
  border-radius: 20px;
  padding: 10px;
}

.test-table tr:nth-child(odd) {
  background-color: #12141E;
}

.table-header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.table-header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 5px 30px;
}

.active {
  text-decoration: underline;
  text-decoration-color: #9747FF;
  text-decoration-thickness: 5px;
}


.btn-basic {
  background-color: inherit;
  color: white;
  border: 0.5 px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.chip {
  padding: 6px 18px;
  border-radius: 6px;
  border-radius: 8px;
  display: inline-block;

}

.paused {
  color: #FEB101 !important;
  border: 3px solid #FEB101 !important;
  background-color: #45240B;
}

.completed {
  background-color: #1C3F2A;
  color: #5DBE62 !important;
  border: 3px solid #5DBE62 !important;
}

.in-progress {
  background-color: #1F1733;
  color: #9747FF !important;
  border: 3px solid #9747FF;
}


                                                    /* -- Header Finished Here -- */   